# ２章　小売店のデータでデータ加工を行う１０本ノック

本章では、ある小売店の売上履歴と顧客台帳データを用いて、データ分析の素地となる「データの加工」を習得することが目的です。
実際の現場データは手入力のExcel等、決して綺麗なデータではない事が多いため、
データの揺れや整合性の担保など、汚いデータを取り扱うデータ加工を主体に進めて行きます。

### ノック１１：データを読み込んでみよう

In [1]:
import pandas as pd
uriage_data = pd.read_csv('uriage.csv')
uriage_data.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [4]:
kokyaku_data = pd.read_excel('kokyaku_daicho.xlsx')
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

### ノック１２：データの揺れを見てみよう

In [5]:
uriage_data["item_name"].head()

0      商品A
1    商 品 S
2    商 品 a
3      商品Z
4      商品a
Name: item_name, dtype: object

In [6]:
uriage_data["item_price"].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

In [7]:
kokyaku_data["登録日"].head()

0    2018/01/04
1         42782
2    2018/01/07
3         42872
4         43127
Name: 登録日, dtype: object

### ノック１３：データに揺れがあるまま集計しよう

In [10]:
uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])
uriage_data["purchase_month"] = uriage_data["purchase_date"].dt.strftime("%Y%m")
res = uriage_data.pivot_table(index="purchase_month", columns="item_name", aggfunc="size", fill_value=0)

res

item_name         商品W   商 品 n   商品E   商品M   商品P  ...  商品s  商品t  商品v  商品x  商品y
purchase_month                                   ...
201901              0       1     0     0     0  ...    0    0    0    0    0
201902              0       0     0     0     0  ...    1    1    1    0    0
201903              0       0     1     1     1  ...    0    0    0    0    0
201904              1       0     0     0     0  ...    1    0    0    0    0
201905              0       0     0     0     0  ...    0    0    0    0    1
201906              0       0     0     0     0  ...    0    0    0    1    0
201907              0       0     0     0     0  ...    0    0    0    0    0

[7 rows x 99 columns]

In [12]:
res = uriage_data.pivot_table(index="purchase_month", columns="item_name", values="item_price", aggfunc="sum", fill_value=0)

res

item_name         商品W   商 品 n   商品E   商品M   商品P  ...   商品s   商品t   商品v   商品x   商品y
purchase_month                                   ...
201901              0    1400     0     0     0  ...     0     0     0     0     0
201902              0       0     0     0     0  ...  1900  2000  2200     0     0
201903              0       0   500  1300  1600  ...     0     0     0     0     0
201904           2300       0     0     0     0  ...  1900     0     0     0     0
201905              0       0     0     0     0  ...     0     0     0     0  2500
201906              0       0     0     0     0  ...     0     0     0  2400     0
201907              0       0     0     0     0  ...     0     0     0     0     0

[7 rows x 99 columns]

### ノック１４：商品名の揺れを補正しよう

In [13]:
print(len(pd.unique(uriage_data.item_name)))

99

In [14]:
uriage_data["item_name"] = uriage_data["item_name"].str.upper()
uriage_data["item_name"] = uriage_data["item_name"].str.replace("　", "")
uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ", "")
uriage_data.sort_values(by=['item_name'], ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1748 2019-05-19 20:22:22       商品A       100.0          松川綾女         201905
223  2019-06-25 08:13:20       商品A       100.0           板橋隆         201906
1742 2019-06-13 16:03:17       商品A       100.0          小平陽子         201906
1738 2019-02-10 00:28:43       商品A       100.0          松田浩正         201902
...                  ...       ...         ...           ...            ...
2880 2019-04-22 00:36:52       商品Y         NaN          田辺光洋         201904
2881 2019-04-30 14:21:09       商品Y         NaN          高原充則         201904
1525 2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹         201901
1361 2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902

[2999 rows x 5 columns]

In [15]:
print(pd.unique(uriage_data.item_name))
print(len(pd.unique(uriage_data.item_name)))

['商品A' '商品S' '商品Z' '商品V' '商品O' '商品U' '商品L' '商品C' '商品I' '商品R' '商品X' '商品G'
 '商品P' '商品Q' '商品Y' '商品N' '商品W' '商品E' '商品K' '商品B' '商品F' '商品D' '商品M' '商品H'
 '商品T' '商品J']
26

### ノック１５：金額欠損値の補完をしよう

In [16]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [17]:
flg_is_null = uriage_data["item_price"].isnull()
for trg in list(uriage_data.loc[flg_is_null, "item_name"].unique()):
    price = uriage_data.loc[(~flg_is_null) & (uriage_data["item_name"] == trg), "item_price"].max()
    uriage_data["item_price"].loc[(flg_is_null) & (uriage_data["item_name"]==trg)] = price
uriage_data.head()

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2 2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4 2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904

In [18]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [19]:
for trg in list(uriage_data["item_name"].sort_values().unique()):
    print(trg + "の最大額：" + str(uriage_data.loc[uriage_data["item_name"]==trg]["item_price"].max()) + "の最小額：" + str(uriage_data.loc[uriage_data["item_name"]==trg]["item_price"].min(skipna=False)))

商品Aの最大額：100.0の最小額：100.0
商品Bの最大額：200.0の最小額：200.0
商品Cの最大額：300.0の最小額：300.0
商品Dの最大額：400.0の最小額：400.0
商品Eの最大額：500.0の最小額：500.0
商品Fの最大額：600.0の最小額：600.0
商品Gの最大額：700.0の最小額：700.0
商品Hの最大額：800.0の最小額：800.0
商品Iの最大額：900.0の最小額：900.0
商品Jの最大額：1000.0の最小額：1000.0
商品Kの最大額：1100.0の最小額：1100.0
商品Lの最大額：1200.0の最小額：1200.0
商品Mの最大額：1300.0の最小額：1300.0
商品Nの最大額：1400.0の最小額：1400.0
商品Oの最大額：1500.0の最小額：1500.0
商品Pの最大額：1600.0の最小額：1600.0
商品Qの最大額：1700.0の最小額：1700.0
商品Rの最大額：1800.0の最小額：1800.0
商品Sの最大額：1900.0の最小額：1900.0
商品Tの最大額：2000.0の最小額：2000.0
商品Uの最大額：2100.0の最小額：2100.0
商品Vの最大額：2200.0の最小額：2200.0
商品Wの最大額：2300.0の最小額：2300.0
商品Xの最大額：2400.0の最小額：2400.0
商品Yの最大額：2500.0の最小額：2500.0
商品Zの最大額：2600.0の最小額：2600.0

### ノック１６：顧客名の揺れを補正しよう

In [20]:
kokyaku_data["顧客名"].head()

0     須賀ひとみ
1    岡田　 敏也
2      芳賀 希
3     荻野  愛
4     栗田 憲一
Name: 顧客名, dtype: object

In [21]:
uriage_data["customer_name"].head()

0    深井菜々美
1     浅田賢二
2     南部慶二
3     麻生莉緒
4     平田鉄二
Name: customer_name, dtype: object

In [22]:
kokyaku_data["顧客名"] = kokyaku_data["顧客名"].str.replace("　", "")
kokyaku_data["顧客名"] = kokyaku_data["顧客名"].str.replace(" ", "")
kokyaku_data["顧客名"].head()

0    須賀ひとみ
1     岡田敏也
2      芳賀希
3      荻野愛
4     栗田憲一
Name: 顧客名, dtype: object

### ノック１７：日付の揺れを補正しよう

In [23]:
flg_is_serial = kokyaku_data["登録日"].astype("str").str.isdigit()
flg_is_serial.sum()

22

In [24]:
fromSerial = pd.to_timedelta(kokyaku_data.loc[flg_is_serial, "登録日"].astype("float"), unit="D") + pd.to_datetime("1900/01/01")
fromSerial

1     2017-02-18
3     2017-05-19
4     2018-01-29
21    2017-07-06
27    2017-06-17
47    2017-01-08
49    2017-07-15
53    2017-04-10
76    2018-03-31
80    2018-01-12
99    2017-06-01
114   2018-06-05
118   2018-01-31
122   2018-04-18
139   2017-05-27
143   2017-03-26
155   2017-01-21
172   2018-03-24
179   2017-01-10
183   2017-07-26
186   2018-07-15
192   2018-06-10
Name: 登録日, dtype: datetime64[ns]

In [25]:
fromString = pd.to_datetime(kokyaku_data.loc[~flg_is_serial, "登録日"])
fromString

0     2018-01-04
2     2018-01-07
5     2017-06-20
6     2018-06-11
7     2017-05-19
         ...
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: 登録日, Length: 178, dtype: datetime64[ns]

In [26]:
kokyaku_data["登録日"] = pd.concat([fromSerial, fromString])
kokyaku_data

       顧客名           かな  地域                         メールアドレス        登録日
0    須賀ひとみ       すが ひとみ  H市         suga_hitomi@example.com 2018-01-04
1     岡田敏也      おかだ としや  E市       okada_toshiya@example.com 2017-02-18
2      芳賀希       はが のぞみ  A市         haga_nozomi@example.com 2018-01-07
3      荻野愛       おぎの あい  F市            ogino_ai@example.com 2017-05-19
4     栗田憲一     くりた けんいち  E市      kurita_kenichi@example.com 2018-01-29
..     ...          ...  ..                             ...        ...
195   川上りえ      かわかみ りえ  G市        kawakami_rie@example.com 2017-06-20
196   小松季衣      こまつ としえ  E市      komatsu_toshie@example.com 2018-06-20
197   白鳥りえ      しらとり りえ  F市       shiratori_rie@example.com 2017-04-29
198  大西隆之介  おおにし りゅうのすけ  H市  oonishi_ryuunosuke@example.com 2019-04-19
199   福井美希       ふくい みき  D市         fukui_miki1@example.com 2019-04-23

[200 rows x 5 columns]

In [27]:
kokyaku_data["登録年月"] = kokyaku_data["登録日"].dt.strftime("%Y%m")
rslt = kokyaku_data.groupby("登録年月").count()["顧客名"]
print(rslt)
print(len(kokyaku_data))

登録年月
201701    15
201702    11
201703    14
201704    15
201705    13
201706    14
201707    17
201801    13
201802    15
201803    17
201804     5
201805    19
201806    13
201807    17
201904     2
Name: 顧客名, dtype: int64
200

In [28]:
flg_is_serial = kokyaku_data["登録日"].astype("str").str.isdigit()
flg_is_serial.sum()

0

### ノック１８：顧客名をキーに２つのデータを結合(ジョイン)しよう

In [29]:
join_data = pd.merge(uriage_data, kokyaku_data, left_on="customer_name", right_on="顧客名", how="left")
join_data = join_data.drop("customer_name", axis=1)
join_data

           purchase_date item_name  ...        登録日    登録年月
0    2019-06-13 18:02:34       商品A  ... 2017-01-26  201701
1    2019-07-13 13:05:29       商品S  ... 2018-04-07  201804
2    2019-05-11 19:42:07       商品A  ... 2018-06-19  201806
3    2019-02-12 23:40:45       商品Z  ... 2018-07-22  201807
4    2019-04-22 03:09:35       商品A  ... 2017-06-07  201706
...                  ...       ...  ...        ...     ...
2994 2019-02-15 02:56:39       商品Y  ... 2017-07-01  201707
2995 2019-06-22 04:03:43       商品M  ... 2018-03-31  201803
2996 2019-03-29 11:14:05       商品Q  ... 2017-03-15  201703
2997 2019-07-14 12:56:49       商品H  ... 2018-07-15  201807
2998 2019-07-21 00:31:36       商品D  ... 2017-02-05  201702

[2999 rows x 10 columns]

### ノック１９：クレンジングしたデータをダンプしよう

In [30]:
dump_data = join_data[["purchase_date", "purchase_month", "item_name", "item_price", "顧客名", "かな", "地域", "メールアドレス", "登録日"]]
dump_data

           purchase_date  ...        登録日
0    2019-06-13 18:02:34  ... 2017-01-26
1    2019-07-13 13:05:29  ... 2018-04-07
2    2019-05-11 19:42:07  ... 2018-06-19
3    2019-02-12 23:40:45  ... 2018-07-22
4    2019-04-22 03:09:35  ... 2017-06-07
...                  ...  ...        ...
2994 2019-02-15 02:56:39  ... 2017-07-01
2995 2019-06-22 04:03:43  ... 2018-03-31
2996 2019-03-29 11:14:05  ... 2017-03-15
2997 2019-07-14 12:56:49  ... 2018-07-15
2998 2019-07-21 00:31:36  ... 2017-02-05

[2999 rows x 9 columns]

In [31]:
dump_data.to_csv("dump_data.csv", index=False)

### ノック２０：データを集計しよう

In [33]:
import_data = pd.read_csv('dump_data.csv')
import_data

            purchase_date  ...                  登録日
0     2019-06-13 18:02:34  ...  2017-01-26 00:00:00
1     2019-07-13 13:05:29  ...  2018-04-07 00:00:00
2     2019-05-11 19:42:07  ...  2018-06-19 00:00:00
3     2019-02-12 23:40:45  ...  2018-07-22 00:00:00
4     2019-04-22 03:09:35  ...  2017-06-07 00:00:00
...                   ...  ...                  ...
2994  2019-02-15 02:56:39  ...  2017-07-01 00:00:00
2995  2019-06-22 04:03:43  ...  2018-03-31 00:00:00
2996  2019-03-29 11:14:05  ...  2017-03-15 00:00:00
2997  2019-07-14 12:56:49  ...  2018-07-15 00:00:00
2998  2019-07-21 00:31:36  ...  2017-02-05 00:00:00

[2999 rows x 9 columns]

In [35]:
byItem = import_data.pivot_table(index="purchase_month", columns="item_name", aggfunc="size", fill_value=0)
byItem

item_name       商品A  商品B  商品C  商品D  商品E  商品F  ...  商品U  商品V  商品W  商品X  商品Y  商品Z
purchase_month                                ...
201901           18   13   19   17   18   15  ...    7   22   13   14   10    0
201902           19   14   26   21   16   14  ...   19   22   24   16   11    1
201903           17   21   20   17    9   27  ...   23   18   16   21   16    0
201904           17   19   24   20   18   17  ...   11   15   14   16   20    0
201905           24   14   16   14   19   18  ...   16    9   21   16   20    0
201906           24   12   11   19   13   18  ...   18   20   17   15   13    0
201907           20   20   17   17   12   17  ...   13   28   16   18   12    0

[7 rows x 26 columns]

In [37]:
byPrice = import_data.pivot_table(index="purchase_month", columns="item_name", values="item_price", aggfunc="sum", fill_value=0)
byPrice

item_name        商品A   商品B   商品C   商品D   商品E  ...    商品V    商品W    商品X    商品Y   商品Z
purchase_month                                ...
201901          1800  2600  5700  6800  9000  ...  48400  29900  33600  25000     0
201902          1900  2800  7800  8400  8000  ...  48400  55200  38400  27500  2600
201903          1700  4200  6000  6800  4500  ...  39600  36800  50400  40000     0
201904          1700  3800  7200  8000  9000  ...  33000  32200  38400  50000     0
201905          2400  2800  4800  5600  9500  ...  19800  48300  38400  50000     0
201906          2400  2400  3300  7600  6500  ...  44000  39100  36000  32500     0
201907          2000  4000  5100  6800  6000  ...  61600  36800  43200  30000     0

[7 rows x 26 columns]

In [41]:
byCustomer = import_data.pivot_table(index="purchase_month", columns="顧客名", aggfunc="size", fill_value=0)
byCustomer

顧客名             さだ千佳子  中仁晶  中田美智子  丸山光臣  久保田倫子  ...  鳥居広司  鶴岡薫  麻生莉緒  黄川田博之  黒谷長利
purchase_month                                  ...
201901              3    1      4     2      2  ...     2    0     2      2     5
201902              9    1      2     2      1  ...     1    2     4      0     1
201903              1    2      1     6      1  ...     2    4     2      2     1
201904              0    3      1     2      0  ...     3    2     1      2     0
201905              3    2      5     2      4  ...     2    3     4      4     1
201906              1    3      0     4      1  ...     0    2     1      2     4
201907              3    0      3     2      5  ...     2    4     3      4     1

[7 rows x 199 columns]

In [43]:
byRegion = import_data.pivot_table(index="purchase_month", columns="地域", values="item_price", aggfunc="size", fill_value=0)
byRegion

地域              A市  B市  C市  D市  E市  F市  G市  H市
purchase_month
201901          59  55  72  34  49  57  49  42
201902          71  46  65  48  61  52  43  63
201903          64  52  57  43  52  59  51  59
201904          64  48  54  45  48  58  40  52
201905          57  52  68  48  59  65  35  43
201906          53  47  61  30  51  51  58  58
201907          76  53  61  42  54  64  47  54

In [44]:
away_data = pd.merge(uriage_data, kokyaku_data, left_on="customer_name", right_on="顧客名", how="right")
away_data[away_data["purchase_date"].isnull()][["顧客名", "メールアドレス", "登録日"]]

       顧客名                  メールアドレス        登録日
2999  福井美希  fukui_miki1@example.com 2019-04-23